// 入場動畫
@keyframes slideIn{
  from{
    transform:translateX(999px);
  }
}

@keyframes up_down{
  0%{
      transform: translateY(-30px);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(-30px);
  }
}

// @-webkit-keyframes InLeft{
//   0%{
//       transform: translateY(-30px);
//   }
//   50%{
//       transform: translateY(30px);
//   }
//   100%{
//       transform: translateY(-30px);
//   }
// }

@keyframes InLeft {
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
    width: 100px;
  }

  60% {
    opacity: 1;
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(360deg);
  }

  90% {
    transform: translate3d(5px, 0, 0) ;
  }

  to {
    display: none;
  }
}

@keyframes living {
  0%{
      transform: scale(1);
      opacity: 0.5;  
  }
  50%{
      transform: scale(1.5);  
      opacity: 0;   
  }
  100%{
      transform: scale(1);
      opacity: 0.5;
  }
}


@keyframes jello {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%,20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,50%,70%,90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

