$white:#fff;
$tiffany:rgba(51,171,160,.8);
$gray:rgb(182, 182, 182);
$blue_purple:rgba(103,58,183,.6);
$yellow:rgb(238, 185, 10);

@mixin size($w,$h:$w,$brs:0) {
  width: $w;
  height: $h;
  border-radius: $brs;
}
@mixin flex($j:center,$a:center){
  display: flex;
  justify-content: $j;
  align-items: $a;
}
@mixin abpos($l,$t){
  position: absolute;
  left: $l;
  top: $t;
}

// @media screen and (max-height:300px){
//   .picture{
//     height: 240vh;
//   }
// }

// @media  only screen and (min-width: 769px){
//   #next{
//     display: none;
//   }
// }

@media screen and (max-width: 768px){
  .picture-1 .picture-2 .picture-3{
    height: 240vh;
  }
  .picture-4{
    height: auto;
  }
  h3{
    margin-left: calc(50% - 60px);
  }
  ul{
    float: none;
    text-align: center;
  }
  button{
    @include size(100px,100px,50%);
    margin-top: 10px ;
  }
}
@media screen and (max-width: 768px){
  .design_pics {
    width: 100%;
    margin: 0px auto;
    padding-top: 7%;
    @include flex;
    flex-wrap: wrap;
    & figure{   
      overflow: hidden;
      margin:15% 3%;
      padding: 6px;
      background:$white;
      border: 2px solid $white;
      @include size(140px,140px,50%);
      margin-bottom: -5px;
      &:hover figcaption{
        transform: translateY(110px);
        cursor: pointer;
      }
    }
  }
  figcaption{
    @include size(190px,150px);
    @include abpos(0,0);
    p{  
      padding-right: 33px;
      font-size: 12px;
    }
}
}